<h1>Chapter 1: Thinking reactively</h1>
<a  [routerLink]="['/chapter-1/ye-olde-javascript']">Ye olde JavaScript</a>
<br>
<a  [routerLink]="['/chapter-1/nested-calls']">Nested calls</a>
<br>
<a  [routerLink]="['/chapter-1/promises']">Promises</a>

<h1>Chapter 2: Reacting with RxJS</h1>
<a  [routerLink]="['/chapter-2/functional-programming-characteristics']">Functional programming characteristics</a>
<br>
<a  [routerLink]="['/chapter-2/creating-observables']">Creating observables</a>


<h1>Chapter 3: Core operators</h1>
<a  [routerLink]="['/chapter-3/unsubscribing']">Unsubscribing</a>
<br>
<a  [routerLink]="['/chapter-3/operators']">Operators</a>
<br>
<a  [routerLink]="['/chapter-3/operators-2']">Operators 2</a>

<h1>Chapter 6: Coordinating business processes</h1>
<a  [routerLink]="['/chapter-6/weight-calculation']">Weight calculation</a>
<br>
<a  [routerLink]="['/chapter-6/cart-loading']">Cart loading</a>
<br>
<a  [routerLink]="['/chapter-6/selling-gems']">Selling-gems</a>
<br>
<a  [routerLink]="['/chapter-6/nighttime']">Night time</a>
<br>
<a  [routerLink]="['/chapter-6/nightclub']">Nightclub</a>
<br>

<h1>Resources</h1>
<a href="https://reqres.in" target="_blank">Sample REST API with configurable delay</a>
<br>
<a href="https://github.com/rxJSInAction" target="_blank">Code examples from the book</a>
<br>
<a href="http://rxmarbles.com">Marble diagrams for RXJS API</a>
